:root {
  --white: #fff;
  --green: #198754;
  --red: #dc3545;
  --black: #000;
}

/* Hero Style */
.hero {
  background-image: url('./assets/images/background-hero4.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  line-height: 3rem;
}

.hero h1 {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--black);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  min-width: 100%;
}

.hero p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  min-width: 100%;
}

.hero .text-plan {
  color: var(--green);
  text-shadow: 2px 2px 1px var(--black);
}

.hero .text-design {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--black);
}

.hero .text-build {
  color: var(--red);
  text-shadow: 2px 2px 1px var(--black);
}

.hero .hero-dream {
  color: var(--white);
  text-shadow: 2px 2px 1px var(--black);
}

.hero-btn {
  border: none;
  border-radius: 20px;
  min-width: 150px;
  margin-top: 1em;
  background-color: var(--red);
  color: var(--white);
}

@media (min-width: 768px) {
  .hero {
    line-height: 4rem;
  }

  .hero-btn {
    margin-top: 0.5em;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-height: 80vh;
  }

  .hero h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }

  .hero p {
    font-size: 2rem;
    letter-spacing: 0.2rem;
  }
}

/* Services Style */
.services {
  padding: 4em;
}

.services .services-h2 {
  text-align: center;
  font-size: 1.75rem;
  color: rgba(25, 135, 84, 1);
}

@media screen and (max-width: 420px) {
  .services {
    padding: 1em;
    min-width: 100%;
  }
  .services .services-h2 {
    font-size: 1.5rem;
  }
}

/* Projects Style */
.projects {
  min-width: 100%;
  padding: 5em;
  /* background: rgb(25, 135, 84);
  background: radial-gradient(
    circle,
    rgba(25, 135, 84, 1) 15%,
    rgba(255, 255, 255, 1) 69%
  ); */
}

.projects .projects-p {
  color: rgba(21, 64, 5, 1);
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 420px) {
  .projects {
    padding: 2em;
  }
}

/* About us style */
.about {
  /* margin-top: -3rem; */
  padding: 10em;
  min-width: 100%;
}

.about-text {
  padding: 3rem;
  line-height: 2.2rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(25, 135, 84) 33%
  );
  border-radius: 25px;
}

.about-text h2 {
  color: #fff;
}

.about-text p {
  color: #fff;
}

@media screen and (max-width: 912px) {
  .about {
    padding: 2em;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(25, 135, 84) 33%
    );
    min-width: 100%;
  }
  .about-text {
    line-height: 1.5rem;
    padding: 0.5rem;
    background: none;
  }
}
