/* Hero Style */
.hero {
  background-image: url('./assets/images/background-hero2.png');
  background-size: cover;
  background-position: center center;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5rem;
}

.hero h1 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-weight: 600;
}

.hero p {
  text-shadow: 1px 1px 1px #fff;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.hero a {
  color: rgba(220, 53, 69, 1);
  font-size: 1.2rem;
  text-shadow: 1px 1px #fff;
  letter-spacing: 0.2rem;
}

.hero p {
  font-size: 2rem;
}

.hero p .text-plan {
  color: rgba(25, 135, 84, 1);
  text-shadow: 1px 1px 1px #fff;
}

.hero p .text-design {
  color: #fff;
  text-shadow: 1px 1px 1px #fff;
}

.hero p .text-build {
  color: rgba(220, 53, 69, 1);
  text-shadow: 1px 1px 1px #fff;
}

@media screen and (max-width: 420px) {
  .hero {
    padding: 10rem;
    line-height: 1.5rem;
  }
  .hero h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.75rem;
    min-width: 360px;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
  }
  .hero p {
    font-size: 1.5rem;
    padding: 0.75rem;
    min-width: 360px;
    text-align: center;
  }
  .hero a {
    font-size: 0.75rem;
    padding: 0.75rem;
    min-width: 360px;
    text-align: center;
  }
}

/* Services Style */
.services {
  padding: 4em;
}

.services .services-h2 {
  text-align: center;
  font-size: 1.75rem;
}

@media screen and (max-width: 420px) {
  .services {
    padding: 1em;
    min-width: 100%;
  }
  .services .services-h2 {
    font-size: 1.5rem;
  }
}

/* Projects Style */
.projects {
  min-width: 100%;
  padding: 5em;
  /* background: rgb(25, 135, 84);
  background: radial-gradient(
    circle,
    rgba(25, 135, 84, 1) 15%,
    rgba(255, 255, 255, 1) 69%
  ); */
}

.projects .projects-p {
  color: rgba(21, 64, 5, 1);
  text-align: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 420px) {
  .projects {
    padding: 1em;
  }
}

/* About us style */
.about {
  padding: 10em;
  min-width: 100%;
}

.about-text {
  padding: 3rem;
  line-height: 2.2rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(25, 135, 84) 33%
  );
  border-radius: 25px;
}

.about-text h2 {
  color: #fff;
}

.about-text p {
  color: #fff;
}

@media screen and (max-width: 912px) {
  .about {
    padding: 2em;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(25, 135, 84) 33%
    );
    min-width: 100%;
  }
  .about-text {
    line-height: 1.5rem;
    padding: 0.5rem;
    background: none;
  }
}
